@font-face {
  font-family: "Work Sans"; /* название одно */
  src: url("fonts/WorkSans-Medium.otf"); /* разные файлы */
  font-weight: 400; /* разная плотность */
  font-style: normal;
}

@font-face {
  font-family: "Work Sans"; /* название одно */
  src: url("fonts/WorkSans-ExtraBold.otf"); /* разные файлы */
  font-weight: 800; /* разная плотность */
  font-style: bold;
}

@font-face {
  font-family: "Anton"; /* название одно */
  src: url("fonts/Anton-regular.ttf"); /* разные файлы */
  font-weight: 400; /* разная плотность */
  font-style: normal;
}

/* div {
  border: 1px solid red;
  margin: 3px;
} */

.classification {
  display: flex;
  justify-content: space-between;
  width: 91%;
  margin-bottom: 54px;
}

.a {
  text-decoration: none;
  color: #151c22;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-right: 25px;
  font-family: "Work Sans";
  margin-bottom: 40px;
  padding: 0, 6px;
}

.form {
  margin-right: 25px;
  width: 16px;
  height: 16px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Work Sans;
  font-weight: 800;
  font-size: 24px;
  background: #f1f2f4;
  /* height: 57px; */
  padding: 14px 0;
}

.girl {
  position: relative;
  margin-bottom: 44px;
}

.girl::before {
  content: "";
  display: block;
  width: 109px;
  height: 80px;
  background: #e5e5e5;
  position: absolute;
  z-index: -1;
  top: -20px;
  left: -20px;
  background-image: url(img/square.png);
}

.girl::after {
  content: "";
  display: block;
  width: 109px;
  height: 80px;
  background: #e5e5e5;
  position: absolute;
  z-index: -1;
  bottom: -15px;
  right: -20px;
  background-image: url(img/square2.png);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 204px;
  height: 64px;
  background: #151c22;
  color: #f1f2f4;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 50px;
}

.respect {
  display: flex;
  justify-content: center;
  font-family: Work Sans;
  font-size: 18px;
  line-height: 18px;
  color: #727a82;
  margin-bottom: 8px;
}

.material {
  display: flex;
  justify-content: center;
  font-family: Anton;
  font-size: 86px;
  line-height: 86px;
  color: #151c22;
  margin-bottom: 40px;
}

.first-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e5e5e5;
  padding-top: 27px;
}

.b {
  text-decoration: none;
}

body {
  /* background: #e5e5e5; */
  margin: 0px;
}

.clothes {
  text-decoration: none;
}

.category {
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #151c22;
  width: 144px;
  height: 18px;
  margin-top: 60px;
  margin-left: 15px;
}

.second-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  font-family: Work Sans;
  margin-top: 40px;
  /* margin-left: 15px; */
  display: flex;
  flex-wrap: wrap;
}

.secondname {
  color: #151c22;
  margin-top: 15px;
}

.price {
  color: #151c22;
  margin-top: 10px;
}

.card {
  margin-top: 30px;
  /* margin-right: 30px; */
  width: 50%;
  text-decoration: none;
}

.range {
  margin-top: 40px;
  font-family: Work Sans;
  color: #151c22;
}

/* hr {
  width: 70px;
  margin-top: 10px;
  border: 2px solid #151c22;
} */

.background-picture {
  background-image: url(img/diagonal.png);
  margin-top: 60px;
  width: 320px;
  height: 254px;
}

.background-red {
  background-color: red;
  padding-top: 40px;
  margin: 15px 15px 15px 15px;
  display: flex;
  display: block;
}

/* .child {
  position: absolute;
  height: 211px;
  width: 290px;
  margin: 3px 3px 3px 3px;
  left: 15px;
  top: 15px;
  background-color: #f1f2f4;
  background-color: red;
  z-index: 2;
} */

.street {
  font-family: Work Sans;
  font-size: 18px;
  color: #727a82;
}

.fall {
  margin-top: 10px;
  font-family: Work Sans;
  font-weight: bold;
  font-size: 26px;
  color: #151c22;
}

.btn2 {
  background: #151c22;
  padding: 24px 34px 24px 34px;
  margin-top: 30px;
  margin-bottom: 40px;

  font-family: Work Sans;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}

.rectangle5 {
  width: 312px;
  height: 226px;
}

.category1 {
  font-family: Work Sans;
  font-weight: bold;
  font-size: 26px;
  color: #151c22;
}

.cards1 {
  font-family: Work Sans;
  position: absolute;
  left: 15px;
  top: 300px;
  display: flex;
  flex-wrap: wrap;
}

.secondname1 {
  margin-right: 30px;
  color: #151c22;
  margin-top: 15px;
}

.card1 {
  width: 50%;
  text-decoration: none;
}

.range1 {
  position: absolute;
  left: 129px;
  top: 400px;
  font-family: Work Sans;
  color: #151c22;
}

.footer {
  width: 320px;
  background: #151c22;
  padding-top: 20px;
}

.menu {
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
}

.sections {
  margin-bottom: 30px;
  margin-left: 30px;
  width: 80px;
  font-family: Work Sans;
}

.social-network {
  padding-top: 42px;
  padding-bottom: 52px;
  padding-right: 130px;
  display: flex;
  justify-content: space-around;
}


