div {
  border: 1px solid red;
  margin: 3px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.a {
  text-decoration: none;
  color: #151c22;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-right: 25px;
}

.search {
  margin-right: 25px;
}

.up {
  display: flex;
  justify-content: center;
}

.girl {
  margin-top: 100px;
  margin-right: 59px;
  margin-left: 59px;
  margin-bottom: 307px;
}

.btn {
  width: 204px;
  height: 64px;
  background: #151c22;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
